/* Poppins Regular font */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    font-size: 40px;

}

.logo {
    width: 100px;
    margin-bottom: 30px;
}

.button-css, .btnPublier {
    background: rgb(239, 222, 73);
    border-radius: 15px ;
    border: 2px solid rgb(239, 222, 73);
    padding: 15px 20px;
    text-decoration: none;
    box-shadow: 2px 5px 10px rgb(241, 230, 101);
}

.btn:hover  {
    background: rgb(33, 64, 114);
    color: white;
}


